@import url(./sameComponents.css);
@import url(./navbar.css);
@import url(./footer.css);

#booking_engine {
    padding: 30px;
    background-color: #f1f2ed;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#booking_engine h3 {
    margin: 0px 0px 20px 0px;
    font-size: 1.66em;
    grid-column: 1 / 3;
    text-align: center;
}

#booking_engine form {
    margin-left: 15%;
}

#check_btn {
    margin-top: 20px;
    border: 1px solid black;
    float: right;
    padding: 5px;

    height: 50px;
    background: #f1f2ed;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}


#check_btn:hover {
    border: 2px solid black;
    color: #60a29b;
}

#booking_engine_intro_img {
    width: 50%;
    height: auto;
}
.content {
    width: 80%;
}

#packages {
    margin-top: 20px;
    padding-left: 5px;
    margin-bottom: 40px;
}

.offer-items {
    grid-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    padding: 10px;
    text-align: justify;
}

#booking_engine input, select, textarea {
    border-radius: 5px;
    border: 2px solid #558940;
    font-size: 1.1em;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
}

#booking_engine label {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1em;
}

