@import url(./sameComponents.css);
@import url(./navbar.css);

#booking_engine {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #f1f2ed;
    margin-bottom: 20px;
    display: grid;

}

#booking_engine form {
    justify-self: center;
    width: 100%;
}
#check_btn {
    margin-top: 20px;
    border: 1px solid black;
    display: block;
    background-color: white;
}

.check_btn {
    width: fit-content;
    justify-self: right;
    background: white;
    border: 1px solid black;
    float: right;
}

#booking_engine h3 {
    font-size: 2em;

}

#offers {
    padding-left: 5px;
    display: grid;
    justify-items: center;
}

#offers h2 {
    justify-self: start;
}


#packages {
    margin-top: 20px;
    padding-left: 5px;
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
}
#packages h2 {
    justify-self: start;
}




header {
    background-color: white;
}

.offer-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


input, select, textarea {
    border-radius: 5px;
    border: 2px solid #a05423;
    box-sizing: border-box;
    font-size: 1.1em;
    width: 80%;
    padding: 10px;
}

label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
}

button {
    text-align: auto;
    height: 50px;
    background: #f8fff5;
    border: none;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    border: 2px solid black;
    color: #60a29b;
}