@import url(./sameComponents.css);
@import url(./navbar.css);

body {
    background-color: white;
}

#main-background {
    background-color: transparent;
    opacity: 0.4;
    object-fit: cover;
    object-position: center;
    height: 450px;
}

#main .container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    font-size: 2em;
    position: absolute;
    top: 47%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(rgb(8, 8, 0), rgb(36, 122, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 2em;
}

#restaurants .grid-container {
    background-color: rgb(50, 193, 193);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto auto;
    background-color: #f3c23b ;
    float: left;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.grid-item {
    padding: 5px;
}

#main-background {
    height: 300px;
}
