@import url(./sameComponents.css);
@import url(./navbar.css);
@import url(./footer.css);

#home_description{
    text-align: center;
    background-color: #f3c23b;
    padding: 10px 10px;
}

#home_description p{
    margin: 5px;
}

#booking_button button {
    height: 50px;
    background: #f8fff5;
    border: none;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
}

#booking_button button:hover {
    border: 2px solid #c76d33;
    color: #60a29b;
}

/*CREATE ACTIVITIES GRID WITH HOVER OPACITY*/
.container {
    position: relative;
    width: 100%;
}
.column img {
    vertical-align: middle;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: white;
}

.container:hover .overlay {
    opacity: 0.8;
}

.container .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.row .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    background-color: #f3c23b ;
    width: 100%;
    grid-gap: 5px;
    padding: 5px;
}