@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Signika Negative', sans-serif;
}
header {
    background-color: #77A7E9;
}

header h1 {
    color: white;
}
body {
    background: #f1f1f1;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #77A7E9;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#booking_button button {
    color: #D5F6F2;
    background: white;
}