@import url(./sameComponents.css);
@import url(./navbar.css);

#home_description{
    text-align: center;
    background-color: #f3c23b;
    padding: 10px 15px;
}

button {
    text-align: auto;
    height: 50px;
    background: #f8fff5;
    border: none;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    border: 2px solid #c76d33;
    color: #60a29b;
}
body {
    background: #f1f1f1;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto auto;
    background-color: #f3c23b ;
    float: left;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.grid-item {
    padding: 5px;
}