#nav {
    background-color: #466349;
    color: #f8fff5;
    height: 45px;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
    height: 100%;
}

nav a {
    color: #f1f1f1;
    margin-right: 30px;
    width: fit-content;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

nav ul li {
    margin-right: 50px;
    position: relative;
}
nav ul li a {
    margin: 10px auto;
    display: block;
}

/*nav ul li:nth-child(1) {*/
/*    float: left;*/
/*    margin-left: 10%;*/
/*}*/

/*nav ul li:nth-child(2),*/
/*nav ul li:nth-child(3)*/
/*{*/
/*    float: right;*/
/*    margin-right: 10%;*/
/*}*/


/**************** hover effect section ****************/
nav li:after,
nav li:before {
    content: "";
    position: absolute;
    width: 0;
    display: block;
    height: 1px;
    transition: all 0.3s ease;
}

nav li:after {
    bottom: 5%;
}

nav li:before {
    top: 5%;
}

nav li:hover::after {
    width: 100%;
    height: 1px;
    bottom: 25%;
    background-color: #fff;
}

nav li:hover::before {
    width: 100%;
    height: 1px;
    top: 25%;
    background-color: #fff;
}

/**************** END hover effect section ****************/