@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: auto;
}

header {
    background-color: #f8fff5;
}

#footer{
    color: #f8fff5;
    background-color: #466349;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}